<div class="your-reps-<%= score.position.parameterize %>">
  <div class="your-rep">
    <%= congress_member_photo score.congress_member %>
    <div class="rep-name">
      <%= score.congress_member.name_with_title %>
    </div>
    <div class="position">
      <span>CRA position</span>
      <a href="<%= score.source_url %>" target="_blank" rel="noopener noreferrer">
        <%= score.display_position %>
      </a>
    </div>
  </div>
</div>
